@use "../../style/variables.scss" as *;
.header{
    width: 100%;
    min-height: $header-height;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    &__inner{
        height: 100%;
        width: $page-format;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        
        &__logo{
            height: 100%;
            display: flex; 
            align-items: center;
            gap: .9rem;
            & img{
                height: 2.93rem;
                width: 2.375rem;
                aspect-ratio: 16/9;
            }
            & h1{
                color: $primary-color;
                font-family: var(--workSans);
                font-size: 1.87rem;
                font-weight: 700;
                line-height: normal;
                & span{
                    font-style: italic;
                }
            }
            
        }
        &__nav{
            height: 100%;
            & ul{
                height: 100%;
                display: flex;
                align-items: center;
                gap: 3.12rem;

                & a{
                    text-decoration: none;
                    color: #14171F;
                    /* Body/default */
                    font-family: var(--workSans);
                    font-size: 1.25rem;
                }
                
                    
            }
        }
        &__hamburger{
            display: none;
        }
    }
    &__mobileNav{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: white;
        top: 100%;
        overflow: hidden;
        transition: .5s ease;
        & nav{
            width: $page-format;
            height: max-content;
            display: flex;
            padding: 2rem 0;
            & ul{

                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
            & li{
                width: 100%;
                font-size: 1.5rem;
                & a{

                    text-decoration: none;
                    color: inherit;
                }
            }

        }
    }
}


@media (max-width: 1050px){
    .header{
  
     
        &__inner{

            &__nav{
                display: none;
            }
            &__hamburger{
                display: flex;
            }
        }
    }

}