@use "../../../style/variables.scss" as *;
.secondaryButton{
    min-height: 53px;
    padding: 1rem 20px;
    border-radius: 2px;
    background:  $primary-color;
    font-family: var(--workSans);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: max-content;
}