.servicesSection{
    width: 100%;
    height: 38rem;
    background: #F6F8F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;
    & h1{
        color: #292E3D;
        text-align: center;

        /* Heading/4 */
        font-family: var(--workSans);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__services{
        display: grid;
        grid-template-columns: repeat(3, auto);   
        row-gap: 3rem;
        column-gap: 6rem;
        &__mobile{
            display: none;
            width: 100%;
        }
    }
}

@media (max-width:1050px) {

    .servicesSection{
        
        &__services{
            display: none;
            &__mobile{
                display: flex;
            }
        }
    }
}