@use "../../style/variables.scss" as *;

.heroSection{
    position: relative;
    display: flex;
    justify-content: center;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 16.58%, rgba(255, 255, 255, 0.00) 77.17%),  rgba(211, 211, 211, 0) 50% / cover no-repeat;
        z-index: 0;

    }
    &__inner{
        position: relative;
        height: 700px;
        width: $page-format;
        display: flex;
        align-items: center;

        &__title{
            position: relative;
            z-index: 1;
            & h1{
                color: #292E3D;
                /* Heading/1 */
                font-family: var(--workSans);
                font-size: 72px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 556px;
            }
        }

        &__featured{
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 416px;
            height: 210px;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            z-index: 1;
            background-color: $primary-color;
        }
    }
}