@use "../../style/variables.scss" as *;

.heroSection{
    position: relative;
    display: flex;
    justify-content: center;
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 16.58%, rgba(255, 255, 255, 0.00) 77.17%),  rgba(211, 211, 211, 0) 50% / cover no-repeat;
        z-index: 0;

    }
    &__inner{
        position: relative;
        height:43.75rem;
        width: $page-format;
        display: flex;
        align-items: center;
        &__title{
            position: relative;
            z-index: 1;
            & h1{
                color: #292E3D;
                /* Heading/1 */
                font-family: var(--workSans);
                font-size: 4.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 34.75rem;
            }
        }

        &__featured{
            display: flex;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 26rem;
            height: 13.25rem;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            z-index: 1;
            background-color: $primary-color;
        }
    }
}

@media (max-width:1050px) {
    .heroSection{
        &__inner{

            &__title{
                
                & h1{
                    text-align: center;
                    color: white;
                    color: $primary-color;
                }
            }
        }
        &::after{
            backdrop-filter: blur(3px);
            background:none;
            
        }
        &__inner{
            padding-bottom: $header-height;
            margin-bottom: $header-height;
            &__featured{
                width: 100%;
            }
        }
    }
}