@use "../../style/variables.scss" as *;
.statsSection{
    padding: 130px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    &__inner{
        height: 100%;
        width: $page-format;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-around;
        &__cards{
            display: flex;
            flex-direction: column;
            & div{
                &:nth-child(1){
                    left: 15rem;
                    z-index: 2;
                    top: 2.5rem;
                }
                &:nth-child(3){
                    left: 12rem;
                    z-index: 2;
                    top: -1rem;

                }
                &:nth-child(4){
                  
                    top: -3rem;

                }
            }
        }
        &__info{
            width: 360px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            & h1{
                color: #2947A9;
                /* Heading/2 */
                font-family: var(--workSans);
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            & p{
                color:#525B7A;
                /* Body/medium */
                font-family: var(--workSans);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
        }
    }
}